@import "./theme.scss";

$loading-size: 70px;
$loading-border: 6px;
$loading-color: #f3f3f3;
$loading-color-border: #696969;
$loading-speed: 1s;

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -38px 0 0 -38px;
    border: $loading-border solid $loading-color;
    border-radius: 50%;
    border-top: $loading-border solid $loading-color-border;
    width: $loading-size;
    height: $loading-size;
    -webkit-animation: spin $loading-speed linear infinite; /* Safari */
    animation: spin $loading-speed linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
