/**
 * UTILS
 **/
small {
  font-size: 0.625rem;
  &.uppercase {
    text-transform: uppercase;
  }
}
.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.shadow {
  box-shadow: 4px 4px 8px #00000029;
}
//section
.page {
  padding: 8px 15px 40px;
}
// custom scroll
.scroll {
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #9c9c9c;
}
// paddings
.padding-xs {
  padding: var(--padding-xs);
}
.padding-sm {
  padding: var(--padding-sm);
}
.padding-md {
  padding: var(--padding-md);
}
.padding-xl {
  padding: var(--padding-xl);
}
.padding-none {
  padding: none;
}
// displays
.d-block {
  display: block;
}
.d-iblock {
  display: inline-block;
}
.d-flex {
  display: flex;
}
.text-center {
  text-align: center;
}
// selection
.selection-none {
  user-select: none;
  -ms-user-select: none; /* Internet Explorer/Edge */
}
/**
 * RESPONSIVE UTILS
 **/
@media screen and (max-width: 568px) {
  //   .card-header,
  //   .card-body,
  //   .card-footer {
  //     overflow-x: scroll;
  //   }
  //   .r-card {
  // 	white-space: nowrap;
  //     overflow-x: scroll;
  //   }
}
@media screen and (max-width: 992px) {
}
