/**
 * External libraries
 **/
@import "./assets/scripts/pikaday/scss/pikaday.scss";

/**
 * Theme
 **/
@import "./@theme/theme.scss";

:root {
  --danger: #f65e5e;
  --danger-light: #faa7a7;
  --danger-dark: #c76464;

  --success: #8cdf59;
  --success-light: #c1ff9a;
  --success-dark: #8ac764;

  --warning: #fcd66b;
  --warning-light: #feecbc;
  --warning-dark: #ebc457;

  --primary: #526cbc;
  --primary-light: #9cccf4;
  --primary-dark: #384a84;

  --secondary: #303956;
  --secondary-dark: #141e3c;

  --dark-dark: #1f262e;
  --dark: #333d47;
  --dark-light: #5e6a75;

  --gray-dark: #a1aab3;
  --gray: #ced3d9;
  --gray-light: #e8ebed;

  --white: #f6f7f8;

  --overlay: rgba(0, 0, 0, 0.3);

  --font-sm: 0.625rem;
  --font-rg: 0.8rem;
  --font-md: 1rem;
  --font-xl: 1.3rem;

  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-xl: 20px;

  --padding-xs: 8px;
  --padding-sm: 16px;
  --padding-md: 24px;
  --padding-xl: 32px;

  --layer-menu: 50;
  --layer-component: 20;
  --layer-overlayer: 0;
  --layer-modal: 50;
  --layer-loading: 100;
  --layer-footer: 0;

  --card-size-sm: 300px;
  --card-size-md: 430px;
  --card-size-xl: 800px;
}

/**
 * Material Icons
 */

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/**
 * ADICIONE AQUI ESTILO GLOBAL AO TEMA
 **/
html {
  font-size: 16px; // Definição de tamanho base para todo sistema 1 rem = 16px
  font-family: "Open Sans", sans-serif;
}

label, p, input {
  font-size: 0.75rem;
}

// h1 {
//   font-size: 6rem;
//   font-weight: 300;
// }

// h2 {
//   font-size: 3.75rem;
//   font-weight: 300;
// }

// h3 {
//   font-size: 3rem;
//   font-weight: 400;
//   color: var(--dark-dark);
// }

// h4 {
//   font-size: 2.125rem;
//   font-weight: 400;
//   color: var(--dark-dark);
// }

// h5 {
//   font-size: 1.5rem;
//   font-weight: 600;
// }

// h6 {
//   font-size: 1.25rem;
//   font-weight: 600;
// }

p{
	margin: 0;
	padding: 0;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.warning {
  color: var(--warning);
}

.danger {
  color: var(--danger);
}

.white {
  color: var(--white);
}

.success {
  color: var(--success);
}

.primary-bg {
  background-color: var(--primary);
}

.secondary-bg {
  background-color: var(--secondary);
}

.warning-bg {
  background-color: var(--warning);
}

.danger-bg {
  background-color: var(--danger);
}

.success-bg {
  background-color: var(--success);
}

.white-bg {
  background-color: var(--white);
}
